.con-a-p-b-e {
  background-color: #f1f1f2 !important;
  margin-left: 20px;

  > form > .flamen-form-sec-a-p-b-e {
    padding: 10px 0;

    > .flamen-form-a-p-b-e {
      display: flex;
      align-items: center;

      > label {
        padding-right: 15px;
        width: 13% !important;
        color: #000;
        display: block;
      }

      div.cssfx-a-p-b-e {
        position: relative;
        margin: 10px 0;
        width: 23%;

        input,select {
          width: 99%;
          color: #000;
          font-size: inherit;
          font-family: inherit;
          background-color: #ffffff;
          // padding: 0.35em 0.45em;
          border: 1px solid #dfdede;
          transition: background-color 0.3s ease-in-out;
        }

        input:focus {
          outline: none;
        }

        input::placeholder {
          color: #000;
        }

        span {
          position: absolute;
          background-color: #090821;
          transition: transform 0.5s ease;
        }

        .bottom-a-p-b-e,
        .top-a-p-b-e {
          height: 1px;
          left: 0;
          right: 0;
          transform: scaleX(0);
        }

        .left-a-p-b-e,
        .right-a-p-b-e {
          width: 1px;
          top: 0;
          bottom: 0;
          transform: scaleY(0);
        }

        .bottom-a-p-b-e {
          bottom: 0;
          transform-origin: bottom right;
        }

        input:focus ~ .bottom-a-p-b-e {
          transform-origin: bottom left;
          transform: scaleX(1);
        }

        .right-a-p-b-e {
          right: 0;
          transform-origin: top right;
        }

        input:focus ~ .right-a-p-b-e {
          transform-origin: bottom right;
          transform: scaleY(1);
        }

        .top-a-p-b-e {
          top: 0;
          transform-origin: top left;
        }

        input:focus ~ .top-a-p-b-e {
          transform-origin: top right;
          transform: scaleX(1);
        }

        .left-a-p-b-e {
          left: 0;
          transform-origin: bottom left;
        }

        input:focus ~ .left-a-p-b-e {
          transform-origin: top left;
          transform: scaleY(1);
        }
      }
    }
  }

  > form > .submit-a-p-b-e {
    border-top: 1px solid #090821;

    button {
      z-index: 1;
      position: relative;
      font-size: inherit;
      font-family: inherit;
      color: white;
      padding: 0.5em 15px;
      outline: none;
      border: none;
      background-color: hsl(236, 32%, 26%);
      margin: 10px 15px;
    }

    button:hover {
      cursor: pointer;
    }

    button::before {
      content: "";
      z-index: -1;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border: 4px solid hsl(236, 32%, 26%);
      transform-origin: center;
      transform: scale(1);
    }

    button:hover::before {
      transition: all 0.75s ease-in-out;
      transform-origin: center;
      transform: scale(1.75);
      opacity: 0;
    }
  }
}
