.config-a-p-b-e {
  background-color: #f1f1f2 !important;
  margin-left: 20px;

  > form > .flamen-form-sec-a-p-b-e {
    padding: 10px 0;

    > .flamen-form-a-p-b-e {
      display: flex;
      align-items: center;

      > label {
        padding-right: 15px;
        width: 13% !important;
        color: #000;
        display: block;
      }

      div.cssfx-a-p-b-e {
        position: relative;
        margin: 10px 0;
        width: 23%;

        input:not([type='checkbox']), select {
          width: 99%;
          color: #000;
          font-size: inherit;
          font-family: inherit;
          background-color: #ffffff;
          // padding: 0.35em 0.45em;
          border: 1px solid #dfdede;
          transition: background-color 0.3s ease-in-out;
          height: 40px;
        }

        input:focus {
          outline: none;
        }

        input::placeholder {
          color: #000;
        }

        .br_primary-toggle{
          margin: unset;
        }

        span:not(.br_primary-toggle) {
          position: absolute;
          background-color: #090821;
          transition: transform 0.5s ease;
        }

        .bottom-a-p-b-e,
        .top-a-p-b-e {
          height: 1px;
          left: 0;
          right: 0;
          transform: scaleX(0);
        }

        .left-a-p-b-e,
        .right-a-p-b-e {
          width: 1px;
          top: 0;
          bottom: 0;
          transform: scaleY(0);
        }

        .bottom-a-p-b-e {
          bottom: 0;
          transform-origin: bottom right;
        }

        input:focus ~ .bottom-a-p-b-e {
          transform-origin: bottom left;
          transform: scaleX(1);
        }

        .right-a-p-b-e {
          right: 0;
          transform-origin: top right;
        }

        input:focus ~ .right-a-p-b-e {
          transform-origin: bottom right;
          transform: scaleY(1);
        }

        .top-a-p-b-e {
          top: 0;
          transform-origin: top left;
        }

        input:focus ~ .top-a-p-b-e {
          transform-origin: top right;
          transform: scaleX(1);
        }

        .left-a-p-b-e {
          left: 0;
          transform-origin: bottom left;
        }

        input:focus ~ .left-a-p-b-e {
          transform-origin: top left;
          transform: scaleY(1);
        }

        .image-upload {
          position: relative;
          max-width: 205px;
          margin: 5px;
          display: inline-flex;

          &.is-invalid {
            .image-preview {
              border-color: #dc3545 !important;
            }
          }

          .image-edit, .image-remove, .image-info {
            position: absolute;
            right: 8px;
            z-index: 1;
            top: 8px;

            input {
              display: none;

              + label {
                display: inline-block;
                width: 34px;
                height: 34px;
                margin-bottom: 0;
                border-radius: 100%;
                background: #0e90d2;
                border: 1px solid transparent;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
                cursor: pointer;
                font-weight: normal;
                transition: all .2s ease-in-out;

                &:hover {
                  background: #0A246A;
                  border-color: #d6d6d6;
                }

                &:before {
                  color: #ffffff;
                  position: absolute;
                  top: 10px;
                  left: 0;
                  right: 0;
                  font-size: 14px;
                  text-align: center;
                  margin: auto;
                }
              }
            }

            &.image-remove {
              display: none;
              right: 46px;
              z-index: 1;
              top: 8px;

              label {
                display: inline-block;
                width: 34px;
                height: 34px;
                margin-bottom: 0;
                border-radius: 100%;
                border: 1px solid transparent;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
                cursor: pointer;
                font-weight: normal;
                transition: all .2s ease-in-out;
                background: #942a25;

                &:hover {
                  background: #942a25;
                  border-color: #d6d6d6;
                }

                &:before {
                  color: #ffffff;
                  position: absolute;
                  top: 10px;
                  left: 0;
                  right: 0;
                  font-size: 14px;
                  text-align: center;
                  margin: auto;
                }
              }

            }

            &.image-info {
              left: 8px;
              display: flex;
              justify-content: center;
              width: 34px;
              align-items: center;
              right: auto !important;
              height: 34px;
              color: #6c757d;
              margin-bottom: 0;
              border-radius: 100%;
              background: rgba(255, 255, 255, 0.84);
              border: 1px solid transparent;
              cursor: pointer;

              > label {
                margin: 0;
                cursor: pointer;
              }
            }

            label.fafa-upload{
              background: {
                image: url("../images/upload-button.svg");
                position: center;
                repeat: no-repeat;
                size: 20px;
              }
            }

            label.fafa-trash{
              background: {
                image: url("../images/trash.svg");
                position: center;
                repeat: no-repeat;
                size: 20px;
              }
            }
            label.fafa-pencil-alt{
              background: {
                image: url("../images/pencil.svg");
                position: center;
                repeat: no-repeat;
                size: 20px;
              }
            }
          }

          .image-preview {
            width: 192px;
            height: 192px;
            position: relative;
            border-radius: 25px;
            border: dashed #cdcdcd 2px;

            > label {
              width: 100%;
              height: 100%;
              position: absolute;
              display: initial;
              right: 0;
              cursor: pointer;

              > span {
                font-size: 12px;
                color: #4e4e4e;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                position: absolute;
                background-color: rgba(255, 255, 255, 0.84);
                bottom: 0;
                padding-bottom: 7px;
                border-radius: 0 0 24px 24px;

                > small {
                  color: #757575;
                }
              }
            }

            > div {
              width: 100%;
              height: 100%;
              border-radius: 25px;
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;
              background-image: url("../images/thumbnail.svg");
            }
          }
        }
      }

      div.cssvfx-a-p-b-e {
        width: 100%;

        >span{
          width: 26% !important;
          margin-right: 20px !important;
        }
      }
    }
  }

  > form > .submit-a-p-b-e {
    border-top: 1px solid #090821;

    button {
      z-index: 1;
      position: relative;
      font-size: inherit;
      font-family: inherit;
      color: white;
      padding: 0.5em 15px;
      outline: none;
      border: none;
      background-color: hsl(236, 32%, 26%);
      margin: 10px 15px;
    }

    button:hover {
      cursor: pointer;
    }

    button::before {
      content: "";
      z-index: -1;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border: 4px solid hsl(236, 32%, 26%);
      transform-origin: center;
      transform: scale(1);
    }

    button:hover::before {
      transition: all 0.75s ease-in-out;
      transform-origin: center;
      transform: scale(1.75);
      opacity: 0;
    }
  }
}
